div.border_background{
    border: 1.5px grey solid;
    border-radius: 30px;
    width: 700px;
    background-color: #F2F2F2F2;
    margin-left: 30px ;
    margin-top: -150px;
    margin-bottom: 40%;
    min-height: 350px;
}

div.styleBoxTimeMoney{
    height: 800px;
    position: relative;
    min-height: 750px;
    background-color: #FFFFFF;
    margin-top: -25%;
}

div.styleBoxConfirm{
    background-color: #FFFFFF;
    margin-top: -50px;
    margin-bottom: 5%;

}

